/* CSS declarations go here */

body {
    font-family: "Roboto Condensed";
}

h1 {
    visibility: visible;
    font-size: 28px;
}


/*game wrapper*/

#wrapper {
    width: 800px;
    margin: 0 auto;
    margin-top: 100px;
    overflow: hidden;
    /*background: black;*/
}

.hideTile {
    opacity: 0;
}

.showTile {
    opacity: 1;
}

/*scene wrapper*/

#wWrapWrapper {
    width: 800px;
    height: 100%;
    margin: 0 auto;
    margin-top: 100px;
    overflow: hidden;
    background: black;
}


.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    border: 0px !important;
}

.middle {
    display: table-cell;
    vertical-align: middle;
    height: auto;
}

.wWrap {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    /*height: 225px;*/
    background: white;
    border: 1px solid #FF0000;
    padding: 20px;
    webkit-transition: height 1s;
    -moz-transition: height 1s;
    -ms-transition: height 1s;
    -o-transition: height 1s;
    transition: height 1s;
}

.bottom {
    height: 40px;
}

.pickerLogo {
    height: 70px;
    margin-bottom: 20px;
}


/*---------------------------------------*/


/*create */

.pickerCreate {
    display: block;
}


/*---------------------------------------*/

.option1 {
    display: none;
}

.option2 {
    margin-top: 20px;
    display: none;
}

.pickerGen {
    display: none;
}

.genText {
    -moz-user-select: text;
    -webkit-user-select: text;
}

.pickerOptions input {
    width: 600px !important;
    height: 60px !important;
    background: red;
    color: white;
    border: 0px solid !important;
    text-align: center;
    font-size: 30px;
    line-height: normal !important;
}

form {
    border: 0px solid;
}

.normalised {}

textarea:focus,
input:focus {
    outline: none !important;
    border: none !important;
    width: 600px !important;
    height: 60px !important;
    border: 0px solid !important;
}

.btnContainer {
    position: relative;
}

.btn {
    position: absolute;
    width: 100px;
    height: 47px;
    background: red;
    top: -62px;
    right: -120px;
    text-align: center;
    font-size: 30px;
    padding-top: 15px;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    cursor: hand;
}


/*---------------------------------------*/

.pickerBtn {
    width: 100%;
    height: 60px;
    text-align: center;
    background: red;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    cursor: hand;
}

.pickerBtnText {
    color: white;
    font-size: 30px;
    padding-top: 12px;
}


/*---------------------------------------*/

.pickerDummy {
    width: 100%;
    height: 60px;
    text-align: center;
    background: red;
    -moz-user-select: none;
    -webkit-user-select: none;
    margin-bottom: 20px;
}

.pickerDummyWhite {
    margin-bottom: 5px;
    margin-top: -15px;
    background: white;
}

.pickerDummyText {
    color: white;
    font-size: 30px;
    padding-top: 12px;
}

.pickerDummyTextBlack {
    color: black;
}

.gitLink {
    color: #B5B5B5;
    margin-top: 10px;
    width: 100%;
}

.gitImage {
    float: left;
}

.gitInfo {
    float: left;
    padding-top: 14px;
    padding-left: 10px;
}

.gitLink img {
    /*margin-top: 5px;*/
}


/*-------------------------------------------------------------------*/

#gameBase {
    width: 100%;
    height: 400px;
    background: #202020;
    /*padding: 10px;*/
    display: flex;
    border-top: 10px solid #FFFFFF;
}

.gameBoard {
    width: inherit;
    height: inherit;
    opacity: 0;
}

.blockObj {
    width: 100px;
    height: 100px;
    float: left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 4px;
}

.tile {
    width: 100%;
    height: 100%;
    border: 2px dashed #FFFFFF;
    cursor: pointer;
    cursor: hand;
    text-align: center;
}

.victoryTile {
    background: #000000;
}

.iconContainer {
    position: relative;
    width: 100px;
    height: 100px;
}

.tile img {
    position: absolute;
    top:30px;
    left:30px;
    /*padding-top: 30px;
    padding-left: 30px;*/
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
}

.tile_o {
    opacity: 0;
}

.tile_x {
    opacity: 0;
}

.pressed {
    background: #000000;
}

.cancelContainer {
    position: relative;
    margin: 0 auto;
}

.cancel {
    background: #0C0C0C;
    color: #A7A7A7;
    position: absolute;
    width: 150px;
    height: 48px;
    text-align: center;
    /*top:-58px;*/
    top: 0px;
    left: 325px;
    border-radius: 24px;
    /*display: none;*/
    opacity: 0;
    -moz-user-select: none;
    -webkit-user-select: none;
    /*user-select: none;
    pointer-events: none;*/
    cursor: pointer;
    cursor: hand;
}

.cancel h1 {
    color:#A7A7A7 !important;
    font-size: 18px;
}

.victoryContainer {
    position: relative;
    margin: 0 auto;
}

.victory {
    position: absolute;
    width: 800px;
    height: 100px;
    text-align: center;
    top: 50px;
    display: none;
}

.victory h1 {
    padding-left: 8px;
    font-size: 25px;
    color: white;
}

.popContainer {
    width: 100%;
    height: 100%;
    position: relative;
}

.pop {
    position: absolute;
    width: 150px;
    height: 75px;
    background: white;
    border: 2px solid #FFF;
    display: none;
    border-radius: 24px;
    /*pointer-events: none;*/
    z-index: 100;
    -webkit-box-shadow: 0px 0px 39px -4px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 0px 39px -4px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 0px 39px -4px rgba(0, 0, 0, 0.35);
    text-align: center;
}

.pop img {
    padding-top: 15px;
}

.pop img:first-child {
    margin-right: 20px;
}

.blur {
    filter: blur(2px);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
}

.blur-more {
    filter: blur(8px);
    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    -o-filter: blur(8px);
    -ms-filter: blur(8px);
}


/* flexbox aligner helpers */

.Aligner {
    display: flex;
    align-items: center;
    height: 100px;
    width: 100px;
    justify-content: center;
}

.Aligner-item {
    flex: 1;
}

.Aligner-item-top {
    align-self: flex-start;
}

.Aligner-item-bottom {
    align-self: flex-end;
}

.Aligner-item-fixed {
    flex: none;
    max-width: 50%;
}
